<html lang='en-US'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>
      Materials Trader
    </title>
    <link rel='icon' href='/images/logo.png' type='image/png' />
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Amatic font -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Amatic+SC&family=Six+Caps&family=Teko:wght@300&display=swap'
      rel='stylesheet'
    />
    <!-- Sue Ellen Francisco font -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Amatic+SC&family=Six+Caps&family=Sue+Ellen+Francisco&family=Teko:wght@300&display=swap'
      rel='stylesheet'
    />
  </head>

  <body>
    <nav>
      <img id='logo' src='/images/logo.png' />
      <h1>
        MATERIALS TRADER
      </h1>
      <h2>(main.handlebars)</h2>
      <h2>
        peer to peer recycling
      </h2>
      <div class='buttons'>
        
        <button>
       
          <img id='home' src='/images/home.png' />
           <a id='Home' href="/">
          <h3 id='home_text'>
            HOME
          </h3>
          </a>
        
        </button>
      
        <button>
          <img id='profile' src='/images/profile.png' />
          {{#if loggedIn}}
            <a href='/profile'>
              <h3 id='profile_text'>
                PROFILE
              </h3>
            </a>
          {{else}}
            <a href='/login'>
              <h3 id='profile_text'>
                LOGIN
              </h3>
            </a>
          {{/if}}
        </button>
        <button>
          <img id='search' src='/images/search.png' />
          <h3 id='search_text'>
            SEARCH
          </h3>
        </button>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>