<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Material Trader</title>
    <link rel="icon" href="/images/logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Six Caps Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap"
      rel="stylesheet"
    />
    <!-- Teko Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Six+Caps&family=Teko:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    {{! HEADER AND NAV }}
    <header>
      <img id="logo" src="/images/logo.png" />
      <div id="lettermark">
        <h1>Material Trader</h1>
      </div>
      <nav>
        <ul class="nav">
          <li><a id="home" href="/">home</a></li>
          <li><a id="dash" href="/dash">dashboard</a></li>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{! BODY CONTENT }}
    <main>
      {{{body}}}
    </main>
<p>(main.handlebars)</p>
    <script src="../../public/js/login.js"></script>
    <footer></footer>
  </body>
</html>