<form class="create">
        <div class="title_header">
          <h3>LIST RECYCLEABLES</h3>
          <h2>(create.handlebars)</h2>
        </div>
        <div class="form_body">
          <div>
            <h3 class="post_title">MATERIAL:</h3>
            <select
              placeholder="choose material"
              id="material-selection">
              <option value="plastic">Plastic</option>
              <option value="glass">Glass</option>
              <option value="aluminum">Aluminum</option>
              <option value="textiles">Textiles</option>
              <option value="cardboard">Cardboard</option>
              <option value="paper">Paper</option>
              <option value="electronics">Electronics</option>
              <option value="batteries">Batteries</option>
              <option value="appliances">Appliances</option>
              <option value="steel">Steel</option>
              <option value="concrete">Concrete</option>
              <option value="oil">Oil</option>
           </select>
            <h3 class="post_title">PHOTO:</h3>
            <input type="file" id="photo-selection"
            ></input>
            <h3 class="post_title">DESCRIPTION:</h3>
            <textarea
              placeholder="Describe your listing..."
              id="material-description"
            ></textarea>
            <h3 class="post_title">AMOUNT:</h3>
            <textarea
              placeholder="How much material do you have?"
              id="material-amount"
            ></textarea>
            <h3 class="post_title">LOCATION:</h3>
            <input
              placeholder="Please provide full address OR city name..."
              id="material-location"
            ></input>
            <h3 class="post_title">CONTACT:</h3>
            <input
              placeholder="Please provide preferred contact phone number or email..."
              id="material-contact"
            ></input>
          </div>
          <button type="submit" id="createBtn">
            <h3>LIST RECYCLEABLES</h3>
          </button>
        </div>
      </form>
      <script src="/js/create.js"> </script>