<div id="dash">
        <div class="dash_header">
          <h3>DASHBOARD</h3>
        </div>
        <div class="dash_body">
          <h4>edit your post:</h4>
          <section class="edit_post">
            <li id="adjust">TITLE</li>
            <input id="post_title"></input>
            <li id="adjust">CONTENT</li>
            <textarea id="post_content"></textarea>
            <button id="update"><h3>UPDATE</h3></button>
            <button id="delete"><h3>DELETE</h3></button>
          </section>
        </div>
      </div>
      <script src="/public/js/edit-post.js"></script>