{{#each posts as |post|}}
  <section>
    <div class="title_header">
      <h3>{{title}}</h3>
    </div>
    <div class="content_body">
      <h4>
        {{content}}
      </h4>
      <div class="user_date">
        <h5 id="username">{{post.User.username}}</h5>
        <span>/</span>
        <h5 id="date">{{format_date post.date_created}}</h5>
      </div>
    </div>
  </section>
{{/each}}