<section>
        <div class="title_header">
          <h3>LOGIN</h3>
        </div>
        <div class="content_body">
          <h4>
            username
          </h4>
          <input></input>
          <h4>
            password
          </h4>
          <input></input>
          <li><a id="signup" href="#">create account</a></li>
          <button id="login"><h3>LOGIN</h3></button>
        </div>
      </section>
      <script src="/public/js/login.js"></script>