<div class="search">
  <div class="title_header">
    <h3>SEARCH MATERIALS</h3>
  </div>
  <div class="form_body">
    <div id="search-field">
      <!-- LEFT COLUMN-->
      <div>
        <button type="click" class="search-button">
          <img id="plastic-icon" src="images/plastic.png">
          <h2 id="search-plastic">PLASTIC</h2>
        </button>
        <button type="click" class="search-button" id="search-glass">
          <img id="glass-icon" src="images/glass.png">
          <h2>GLASS</h2>
        </button>
        <button type="click" class="search-button" id="search-aluminum">
          <img id="aluminum-icon" src="images/aluminum.png">
          <h2>ALUMINUM</h2>
        </button>
        <button type="click" class="search-button" id="search-textiles">
          <img id="textiles-icon" src="images/textiles.png">
          <h2>TEXTILES</h2>
        </button>
        <button type="click" class="search-button" id="search-cardboard">
          <img id="cardboard-icon" src="images/cardboard.png">
          <h2>CARDBOARD</h2>
        </button>
        <button type="click" class="search-button" id="search-paper">
          <img id="paper-icon" src="images/paper.png">
          <h2>PAPER</h2>
        </button>
      </div>
<!-- RIGHT COLUMN-->
      <div>
        <button type="click" class="search-button" id="search-electronics">
          <img id="electronics-icon" src="images/electronics.png">
          <h2>ELECTRONICS</h2>
        </button>
        <button type="click" class="search-button" id="search-batteries">
          <img id="batteries-icon" src="images/batteries.png">
          <h2>BATTERIES</h2>
        </button>
        <button type="click" class="search-button" id="search-appliances">
          <img id="appliances-icon" src="images/appliances.png">
          <h2>APPLIANCES</h2>
        </button>
        <button type="click" class="search-button" id="search-steel">
          <img id="steel-icon" src="images/steel.png">
          <h2>STEEL</h2>
        </button>
        <button type="click" class="search-button" id="search-concrete">
          <img id="concrete-icon" src="images/concrete.png">
          <h2>CONCRETE</h2>
        </button>
        <button type="click" class="search-button" id="search-oil">
          <img id="oil-icon" src="images/oil.png">
          <h2>OIL</h2>
        </button>
      
       
      </div>
    </div>
  </div>
