<form class="signup_form">
      <div class="title_header">
        <h3>SIGN-UP</h3>
      </div>
      <div class="form_body">
        <h4>
          email:
        </h4>
        <input id="email_signup"></input>
        
        <h4>
          user name:
        </h4>
        <input id="username_signup"></input>
        <h4>
          password:
        </h4>
        
        <input id="password_signup" type="password"></input>
        <li><a id="Btn" href="/login">LOG IN</a></li>
        <button id="signupBtn"><h3>SIGN-UP</h3></button>
      </div>
    </form> 
    <script src="/js/signup.js"></script>