<section>
        <div class="title_header">
          <h3>SIGN-UP</h3>
        </div>
        <div class="content_body">
          <h4>
            username
          </h4>
          <input></input>
          <h4>
            password
          </h4>
          <input></input>
          <li><a id="signup" href="#">login</a></li>
          <button id="create_account"><h3>CREATE ACCOUNT</h3></button>
        </div>
      </section>
  <script src="/public/js/login.js"></script>