* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(#05465e, #022b3a);
  text-align: center;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

#logo {
  display: block;
  margin: 60pt auto 20pt auto;
  width: 180px;
  text-align: center;
}

nav {
    margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 34pt;
  color:#E0E2DB;
}
